<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav g-3" id="nav-list">
                </ul>
            </div>
        </div>
    </nav>

    <script>
        const renderLink = (linkData, isLast) => {
            return `
                <li class="nav-item p-0 ${isLast ? '' : 'mr-5'}">
                    <a class="nav-link text-black" href="${linkData.to}">
                        ${linkData.label}
                    </a>
                </li>
            `
        }

        $(document).ready(() => {
            $.getJSON("assets/data/header-links.json", (linkList) => {
                const ulHtml = linkList.map((linkData, index) => renderLink(linkData, index == linkData.lenght)).join('')
                $("#nav-list").html(ulHtml)
            })
        })
    </script>
</body>

</html>