html {
    scroll-behavior: smooth;
    font-size: 12px;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-regular);
}

#header {
    position: sticky;
    top: 0;
    z-index: 5;
}

li::marker {
    color: var(--color-orange-gradient-start);
}

ul {
    padding-inline-start: 1.5rem;
}

button {
    cursor: pointer;
}

.container {
    max-width: calc(100% - 2rem);
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }

    .container {
        max-width: 60rem;
    }
}

.headline {
    font-family: var(--font-headline);
    font-size: 4.25rem;
    color: var(--color-terra);
    text-transform: uppercase;
}

.btn {
    background: var(--gradient-orange);
    opacity: .9;
    color: var(--color-white);
    text-transform: uppercase;
    padding: 1.25rem;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 1;
}

.btn:focus {
    opacity: .6;
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active {
    background: var(--gradient-orange);
}

.border-peach {
    border: 0.25rem solid var(--color-peach);
}

.text-white {
    color: var(--color-white);
}

.text-black {
    color: var(--color-black);
}

.text-blue {
    color: var(--color-blue);
}

.text-terra {
    color: var(--color-terra);
}

.bg-terra {
    background-color: var(--color-terra);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-white {
    background-color: var(--color-white);
}