html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-regular);
}

#header {
    position: sticky;
    top: 0;
    z-index: 5;
}

li::marker {
    color: var(--color-orange-gradient-start);
}

/* Оригинальная ширина контейнера - слишком большая */
@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

.headline {
    font-family: var(--font-headline);
    font-size: 68px;
    color: var(--color-terra);
    text-transform: uppercase;
}

.btn {
    background: var(--gradient-orange);
    opacity: .9;
    color: var(--color-white);
    text-transform: uppercase;
    padding: 20px;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 1;
}

.border-peach {
    border: 4px solid var(--color-peach);
}

.text-white {
    color: var(--color-white);
}

.text-black {
    color: var(--color-black);
}

.text-blue {
    color: var(--color-blue);
}

.text-terra {
    color: var(--color-terra);
}

.bg-terra {
    background-color: var(--color-terra);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-white {
    background-color: var(--color-white);
}