@font-face {
    font-family: "PTSans-Bold";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/PTSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "PTSans-Italic";
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/PTSans-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "PTSans-BoldItalic";
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/PTSans-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "BERNIERDISTRESSED";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/BERNIERDISTRESSED-REGULAR.OTF) format("opentype");
}
