.about-block {
    padding-block: 6.25rem;

    .about-title {
        margin-bottom: 1.875rem;
    }

    .about-info {
        margin-bottom: 6.25rem;
    }

    .about-info-text {
        padding: 3.125rem;
        border-bottom: 0;
        background: url(../../images/about/about-bg.jpg) no-repeat center / cover;
    }

    .course-materials {
        margin-bottom: 5rem;
    }

    .material-dropdown {
        position: relative;
    }

    .material-dropdown-btn {
        position: relative;
        z-index: 2;
        background-color: #EDFBFE;
        border: 1px solid var(--color-blue);
        outline: none;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;
        border-radius: 1.25rem;
    }

    .material-dropdown-wrapper {
        position: absolute;
        border: 1px solid var(--color-blue);
        top: -16px;
        left: -1.5rem;
        padding: 1.25rem;
        border-radius: 1.25rem;
        z-index: 1;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }

    .material-dropdown-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 0.75rem;
        column-gap: 1.5rem;
    }

    .material-item {
        text-align: start;
        max-width: 10rem;
    }

    .material-illustration {
        height: 5rem;
    }

    .about-division {
        margin-bottom: 1.25rem;
    }
}

@media (min-width: 768px) {
    .material-dropdown-list {
        max-height: 16.25rem;
    }

    .about-info-text {
        padding-right: 1.125rem;
        border-right: 0;
        border-bottom: 0.25rem solid var(--color-peach) !important;
    }
}