.course-registration {
    padding-block: 6.25rem;
    background: url(../../images/course-registration/reg-bg.jpg) no-repeat center / cover;

    .registration-title {
        margin-bottom: 5rem;
    }

    .pricing-card-title {
        font-size: 2rem;
        padding: 1.5rem;
        margin-bottom: 2rem;
    }

    .card-img {
        height: 12.5rem;
        object-fit: contain;
    }

    .text-crossed {
        text-decoration: line-through;
        opacity: .5;
    }

    .avantage-item {
        font-size: 0.875rem;
        margin-bottom: .5em;
    }

    .currency-switch {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .currency-btn {
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 0.25rem;
        background: var(--color-peach);
        cursor: pointer;

        &.active {
            background: var(--color-terra);
        }
    }

    .old-price {
        font-size: 1.5rem;
    }

    .new-price {
        font-size: 36px;
    }
}