.course-registration {
    padding-block: 100px;
    background: url(../../images/course-registration/reg-bg.jpg) no-repeat center / cover;

    .registration-title {
        margin-bottom: 60px;
    }

    .pricing-card-title {
        font-size: 32px;
        padding: 24px;
        margin-bottom: 32px;
    }

    .card-img {
        height: 200px;
        object-fit: contain;
    }

    .text-crossed {
        text-decoration: line-through;
        opacity: .5;
    }

    .avantage-item {
        font-size: 14px;
        margin-bottom: .5em;
    }

    .currency-switch {
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    .currency-btn {
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border-radius: 4px;
        background: var(--color-peach);
        cursor: pointer;

        &.active {
            background: var(--color-terra);
        }
    }

    .old-price {
        font-size: 24px;
    }

    .new-price {
        font-size: 36px;
    }
}