.faq-block {
    padding-block: 6.25rem;

    .headline {
        margin-bottom: 2.5rem;
    }
}

.faq-list {
    gap: 1.25rem;

    .faq-icon {
        color: var(--color-blue);
        rotate: -90deg;
        transition: rotate 0.3s ease-in;
    }

    .faq-summary {
        color: var(--color-blue);
        transition: color 0.3s ease-in;
        cursor: pointer;

        &.opened {
            color: var(--color-terra);

            .faq-icon {
                rotate: 0deg;
            }
        }
    }
}