.navbar {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    .navbar-brand {
        height: 50px;
    }

    .site-nav {
        gap: 8px;
    }


    img {
        height: 100%;
        width: auto;
    }

    .nav-link {
        padding: 0;
    }

    .image-link {
        height: 28px;
    }
}

@media (min-width: 1200px) {
    .navbar .site-nav {
        gap: 50px;
    }
}