.navbar {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    .navbar-brand {
        height: 3.125rem;
    }

    .site-nav {
        gap: 0.5rem;
    }

    img {
        height: 100%;
        width: auto;
    }

    .nav-link {
        padding: 0;
    }

    .image-link {
        height: 1.75rem;
    }
}

@media (min-width: 1200px) {
    .navbar .site-nav {
        gap: 3.125rem;
    }
}