.navbar {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    .navbar-brand {
        height: 50px;
    }

    .site-nav {
        gap: 50px;
    }

    .nav-link {
        padding: 0;
    }

    .image-link {
        height: 24px;
    }
}