.hero-section {
    padding-block: 2.5rem;
    background: url(../../images/hero/bg-hero.jpg) no-repeat center / cover;
    overflow-x: clip;
    position: relative;

    .hero-text-block {
        margin-bottom: 1.25rem;
    }

    .hero-subtitle {
        font-size: 1.875rem;
        font-weight: bold;
        text-transform: lowercase;
        margin-bottom: 1.25rem;
    }

    .hero-list {
        margin-bottom: 1.25rem;
    }

    .hero-button {
        margin-bottom: 3.25rem;
    }

    .hero-illustration {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
    }

    .hero-cards-container {
        margin-bottom: -5rem;
        position: relative;
        row-gap: 1.5rem;
    }

    .hero-card {
        position: relative;
    }

    .hero-card-background {
        width: 100%;
        height: auto;
    }

    .hero-card-content {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.875rem;
        text-align: center;
    }
}